.. {{ program_name }} documentation master file, created by
   sphinx-quickstart on {% now 'utc', '%a, %b %d %H:%M:%S %Y'%}.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

Welcome to docrepo's documentation!
===================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   QuickStart <contents.rst>
   API Reference <api.rst>



Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
